.homepage-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height: 100vh; */
  justify-content: space-between;
  /* align-items: stretch; */
  /* gap: 2rem; */
}

.briefInfo {
  width: 30%;
  background-color: lightgray; /* For visibility */
  padding: 1.5rem;
  box-sizing: border-box;
  border: 8px solid red; 


}
.cover-pic-homepage {
  width: 10%; 
  height: auto; 
  object-fit: cover; 
}

.dp-homepage{
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  object-fit: cover; 
  border: 3px solid white; 
}

.main-content {
  width: 40%;
  background-color: white;
  padding: 1rem;
}

.resume-part {
  width: 30%;
  background-color: lightblue; /* for visibility only we will remove it when we add resume preview*/
  padding: 1rem;
}